body{
    background-color: rgb(255, 0, 0);
    
}

header{
    font-size:xx-large;
    font-weight: bolder;
    font-family: Arial;
    margin:3rem 3rem;
    
}

section{
    display: flex;
    flex-direction: column;
    margin:0px 2rem;
   

}

.btn{
    padding: 1rem;
    font-size: large;
    font-family:sans-serif;
    border-radius: 5px;
    width:7rem;
    margin:0px 2px;
    border:none;
    background-color: rgb(255, 255, 255);
}

.btn:hover{
    background-color:rgb(0, 72, 255);
    cursor: pointer;
    font-size: larger;


}

.operation{
    margin:2rem 0rem;
}

.num_display{
    width:10rem;
    height:3rem;
    border:none;
    border-radius:8px;
    padding-left: 5px;
    font-size: large;
    text-align: center;
}

.num_display::placeholder{
    font-size: large;
}


.result_field > .btn{
    width:10rem;
}

#symbol{
    text-align: center;
}

#result{
    text-align: center;
    
}